body {
  padding-top: 50px;
  min-width: 427px;
  background: #101010;

}


.row {
  margin-right: 0px;
  margin-left: 0px;
}

#links {
	background-color: #101010;
	 { display: none; }
#links video {display: none;}
}
#navbar {
  background: #101010;
  text-align: left;
  min-width: 427px;
}

.navbar-brand {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 0;
  margin-left: 0;
}

#videoson {
	width: 32%;
}
#navbar-brand-glyph {
  float: right;
  max-height: 48px;
  padding-left: 2px;
  padding-right: 2px;
} 
#navbar-brand-logo {
  max-width: 90px;
}
#navbar-container {
  left: 0;
  position: absolute;
  min-width: 318px;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
  min-width: 318px;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}


.container-whole{
min-height: 100%;
}
#textfield{
  padding-top: 5%;
  padding-bottom: 5%;
  color: #cfcccc;
}
#contact2{
  padding-top: 5%;
}
#p1{
  padding-top: 20%;
}
#ytvid{
  max-width: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  background-color: #101010;
}
#myCarousel {
  height: 100%;
  background-color: #101010;
}
/* Carousel base class */
.carousel {
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  width: 100%;
  background-color: #777;
}

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}


.carousel-inner {
    height: 100%;
}


#container-marketing{
  overflow: hidden;
  width: 100%;
  background: #101010;
}

.textimgrow {
  width: 70%;
  padding-left: 15%;
  padding-top: 5%;
}
#textimgrow2 {
margin-top: 18%;
}
#textimgrow3 {
margin-top: 18%;
}
#squareimg{
  position: relative;
  width: 33%;
  float: left;
  min-width: 80px;
  }
  #squareimgcont{
  width: 100%;
  }
.text {
  width:40%;
  height: 33%;
  float: left;
  color: #cfcccc;
}

#futr {
  padding-top: 1%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}
.footer {
  height: auto;
  text-align: center;
  background: #101010

}

#feeter {
  background-color: #101010;
  width: 100%;
  height: 5%;
}

#gallery{
  padding-left: 0;
  height: 100%;
  background: #101010;
}

#galleryimg {
  padding-left: 0;
  background: #101010;
}

.col-md-3.col-sm-4.col-xs-6 {
  padding-left: 0;
  background: #101010;
}

.img  {
height: 100%;
}

figure {
    height: 250px;
    width: 250px;
    display: block;
    overflow: hidden;
    z-index: 100;
}

figcaption {
    height: 250px;
    width: 100%;
    background: url(http://gridelicious.net/themes/treble/demo/assets/images/css/thumb_over.png) no-repeat center 150px black;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -500px;
    opacity: 0;
    padding: 5px;
}

a {
    color: #fff;
}

a:hover figcaption {
    opacity: 0.8;
    left: 0;
    color: #fff;
    transition: all 0.7s;
}



    .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
    }
    
    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }
    
    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;
    }
    
    .youtube-player img:hover {
        -webkit-filter: brightness(75%);
    }
    
    .youtube-player .play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("//i.imgur.com/TxzC70f.png") no-repeat;
        cursor: pointer;
    }

.videovideo {
	width: 19%;
}

.nasetvorba {
	top: 55%;
}

#rowtext {
	border-style: solid;
	border-width: 1px;
	width: 50%;
	text-align: center;
}

.jedna {
	background-color: blue;
	width: auto;
	height: auto;
}
.dva {
	background-color: red;
	width: auto;
	height: 50px;
}

.tri {
	left: 5%;
	right: 5%;
	top: 5%;
	width: 50%;
}