body {
  padding-top: 50px;
}
.{ background: white;

}
#navbar {
  background: #101010;
  text-align: left;
}
.navbar-brand {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 0;
  margin-left: 0;
}

#navbar-brand-logo {
  max-width: 90px;
}
#navbar-container {
  left: 0;
  position: absolute;
}
#container-marketing{
  height: 32vw;
  width: 100%;
  background-color: green;
}
#squareimgcontainer{
  float: left;
  width: 32vw;
  height: 32vw;
}
#squareimg{
  width: 100%;
  height: 100%;
}
#stickyfooter {
  margin-bottom: 0;
  height: 7%;
}
.footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#myCarousel {
  height: 100%;
}
/* Carousel base class */
.carousel {
  height: 100%;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}


.carousel-inner {
    height: 100%;
}


